.flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.j-between {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}

.f-colum {
  flex-direction: column;
}
.t-center {
  text-align: center;
}
.p-relative {
  position: relative;
}
