.register-wrapper {
  background-image: url("https://easyfreshmarket.com/image/cache/catalog/slider/slider2-home1-1920x550.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: #000000b3;
  #logo {
    position: absolute;
    width: 300px;
    top: 50px;
    left: 50px;
  }
  .register {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    .close {
      padding: 10px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    background-color: #ffffff;
    width: 450px;
    border-radius: 12px;
    padding: 30px 30px 30px 30px;
    .header {
      .title {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        padding: 5px 0px 0px 0px;
      }
      .content {
        padding: 5px 40px;
        text-align: center;
        font-weight: 400;
      }
    }
    .form {
      padding: 10px 0px;
      .icon {
        position: absolute;
        cursor: pointer;
        font-size: 20px;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
      }
      .input-data {
        width: 100%;
        position: relative;
        .data {
          width: 100%;
          border: 1px solid #999;
          margin: 5px 0px;
          border-radius: 5px;
          padding: 8px 2px 8px 60px;
          &::placeholder {
            font-weight: 400;
            color: #333;
            font-size: 16px;
          }
        }
      }

      .btn-signIn {
        width: 100%;
        background-color: #40a944;
        margin: 10px 0px;
        padding: 8px 0px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 18px;
        color: #fff;
      }
    }
    .footer {
      .title {
        width: 100%;
        display: inline-block;
        text-align: center;
      }
      .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        .item {
          display: grid;
          grid-template-columns: 30% 70%;
          border: 1px solid #f4f4f4;
          border-radius: 5px;
          padding: 10px 5px;
          cursor: pointer;
          .icon {
            font-size: 24px;
            text-align: center;
          }
          // .title-icon {
          //   // display: inline-block;
          // }
        }
      }
    }
  }
}
